@layer base {
  @font-face {
    font-family: "Abel";
    src: url(./assets/fonts/Abel-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "House of Montague";
    src: url(./assets/fonts/HouseOfMontagueDEMO.otf) format("otf");
  }
}
