.product {
    width: 150px;
    border: 1px solid var(--secondary-text-color);
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.product-details {
    font-family: var(--text);
}

.photo {
    margin-bottom: 3px;
    width: 151px;
    height: 151px;
    object-fit: cover;
}

.item-title {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
}

.item-price {
    font-size: 15px;
    color: var(--secondary-text-color);
}

.add {
    background-color: var(--primary-text-color);
    color: var(--primary-bg-color);
    width: 140px;
    height: 30px;
    margin-top: 10px;
    border: hidden;
    margin-left: auto;
    margin-right: auto;
}