body {
    height: 100vh;
}

.items-wrapper {    
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 60px;
}