header {
    width: 100%;
    height: 217px;
    position: absolute;
    top: 0;
}

.logo {
    height: 156px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 {
    height: 61px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 16%;
    font-family: var(--text);
}



.links a {
    margin-inline: 80px;
    color: var(--links);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
}

.links a:hover {
    text-decoration: none;
    color: #006788;
}

.searchIcon {
    position: relative;
}

#searchInput {
    background-color: #FFF;
    width: 214px;
    height: 35px;
    border-radius: 8px;
    border-style: hidden;
    color: var(--primary-text);
    padding-left: 13px;
    background-image: url("../../assets/img/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 13px);
}