.contact_wrapper {
    margin-top: 350px;
    width: 780px;
    height: 500px;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
}

.contact_text {
    font-family: var(--text);
    font-size: 16px;
    width: 318px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 27%;
    font-family: var(--text);
}

.contact_input {
    background-color: var(--secondary-bg-color);
    border: 1px solid #C0C0C0;
    padding-left: 10px;
    width: 393px;
    height: 35px;
    margin: 3px 0 15px 0;
    text-align: start;
}

.contact_button {
    background-color: var(--button);
    width: 123px;
    height: 35px;
    font-family: var(--text);
    font-size: 16px;
    color: var(--primary-bg-color);
    border: hidden;
    margin-top: 40px;
    margin-left: 285px;
}

#contact_message {
    font-family: sans-serif;
    height: 130px;
    text-align: left;
    padding: 10px 10px 0 10px;
    resize: none;
}