@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Abel";
    src: local("Abel-Regular"),
      url(./assets/fonts/Abel-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "House of Montague";
    src: local("HouseOfMontagueDEMO"),
      url(./assets/fonts/HouseOfMontagueDEMO.otf) format("opentype");
  }
}
