@font-face {
    font-family: 'Abel';
    src: url('./assets/fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: 'House of Montague';
    src: url('./assets/fonts/HouseOfMontagueDEMO.otf');
}

:root {
    /* COLORS */
    --primary-bg-color: #FDFDFD;
    --links: #2E2E2E;
    --primary-text-color: #000;
    --secondary-text-color: #484848;
    --secondary-bg-color: #D9D9D9;
    --button: #2B2F2E;

    /* FONTS */
    --text: 'Abel', sans-serif;
    --title: 'House of Montague'
}